html, body{
    height: 100%;
}

html{
    background-color: rgb(232, 198, 204);
}

main{
    min-height: calc(100% - 40px);
}

#description{
    font-size: 20px;
    color: rgb(41, 28, 28);
    padding: 20px;
    padding-bottom: ;
}

.para{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    font-size: 18px;
    translate: 10%;
    border-style:ridge;
    padding: 10px;
    width: 350px;
}

h1{
    border: 2px solid black;
    /* width: 350px; */
    box-shadow: 0 2px 4px 2px rgba(124, 17, 17, 0.2);
    border-bottom: 30px;
    padding: 10px;
    text-align: center;
    background-color: rgb(62, 199, 188);
    /* top: 50%;
    left: 50%;
    transform: translate(50%); */
}

h2{
    border: 1px dotted rgb(29, 27, 27);
    background-color: rgb(18, 201, 137);
    width: 340px;
    box-shadow: 0 2px 4px 2px rgba(124, 17, 17, 0.2);
    border-bottom: 30px;
    padding: 10px;
    transform: translate(50px);
    text-align: center;
}



.footer{
    background-color: aqua;
    border: 1px;
    height:40px;
}

#navigationBar{
    display: grid;
    font-size: larger;
    grid-column-start: 50;
    background-color: orange;
    width: 100px;

}

nav a:hover{
    color: white;
    background-color: black;
}

a{
    text-decoration: none;
}

a:hover{
    color: red;
    background-color: blue;
}

#main-recipe h1{
    color: rgb(0, 128, 0);
}

#main-recipe h2{
    color: rgb(0, 50, 0);
}

.main-recipe-picture{
    height: 250px;
    width: 250px;
}

#main-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 50px;
    /* will allow it to wrap. when a block has a specific width the words will wrap */
    margin-bottom: 16px;
    grid-auto-flow: dense;
}

.main-grid-divider{
    display: grid;
    box-shadow: 0 2px 4px 2px rgba(124, 17, 17, 0.2);


}

.rating{
    color: yellow;
    background-color: black;
    border: 2px solid white;
    width: 80px;
}

/* detail page */
table {
    border-collapse: collapse;
    border: 2px solid black;
    font-size: 1.2em;
  }

ol{
    border-collapse: collapse;
    border: 2px solid black;
    width: 50%;
    font-size: 20px;
}

th, td{
    border: 2px solid black;
    padding: 10px;
    font-size: 20px;
}

th{
    background-color: beige;
    font: bold;
}

li{
    padding: 10px;
    border-bottom: 1px solid black;
}
